html,body{
    overflow-x: hidden;
}
body{ 
    font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 1rem!important;
}
:root {
    --black: #1A1A1A;
    --white: #FFFFFF; 
    --orangeCustom: #EB470B;
}
/* custom nav items */
.nav-link{
    color: var(--white)!important;
}
/* decorate item 3 */
.nav-item-3{
    border-right: 1px solid var(--white);
    padding-right: 0.1 rem ;
}
/* space */
.navbar-nav > li {
    margin-right: 0.1rem;
}
/* header */
.header{
    background-color: var(--orangeCustom);
    height: 80vh;
}
.header-logo{
    width: 40vw;
}
.circle-button{
    border: 2px solid var(--black);
    padding: 0 5px;
    border-radius: 20px;
}
.custom-button{
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}
/* main */
/* header */
.main-header{   
    color: var(--white);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-orange{
    color: var(--orangeCustom);
}

.main-bestproduct{
    height: 110vh;
}
.bestproduct-container{
    display: flex;
    justify-content: center;
}
.bestproduct-photo-container{
    position: relative;
    width: 25vw;
}
.bestproduct-photo{
    width: 30vw;
}
.bestproduct-button{
    position: relative;
    bottom: 1rem;
    padding: 5px;
    width: 20vw;
}
.bestproduct-button-icon{
    border: 1px solid var(--black);
    border-radius: 50%;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
}
.besproduct-number{
    color: var(--white);
    position: absolute;
    top: -0.9rem;
    left: 0.5rem;
    border-bottom: 1px solid var(--white);
}
/* main product */
.product-container{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* justify-items: center; */
    justify-content: space-around;
    margin: auto;
}
.product{
    margin-right: 0.4rem;
}

.fa-heart{
    color: red;
}

/* inherit text-align: center => reset */
.product-container h5 {
    text-align: start;
}
.product-photo{
    width: 100%;
}
.product-footer{
    display: flex;
    justify-content: space-between;
}

.product-button{
    border: 3px solid black;
    color: black;
    font-weight: 700;
}
/* brand story */
.brand-story {
    height: 120vh;
}
hr{
    height: 0.01px;
    background-color: blue;
    padding: 0.1px;
    margin-top: 0px!important;
    margin-bottom: 3px!important;
}
.brand-story-box{
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
}
/* happened issue */
.happened-issue{
    padding-top: 8vh;
    background-color: yellow;
}
.brand-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.brand-photo{
    width: 20vw;
}
/* footer */
.footer-main{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(236, 231, 231);
    padding-top: 1rem;
}

.footer-column-two{
    display: flex;
}
.footer-column-two > div {
    margin-right: 0.5rem;
}  
.footer-footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(236, 231, 231);
    padding-top: 1rem;
}
.footer-footer span {
    margin-right: 1rem;
}
/* responsive */
@media screen and (max-width: 640px) {
    .brand-story-box {
        width: 80vw;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
    }
    .brand-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    iframe .d-block{
        display: none!important;
    }
}
/* grid */
@media screen and (max-width: 500px) {
    .product-container{
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* justify-items: center; */
        justify-content: space-around;
        margin: auto;
    }
    .brand-story {
        height: 150vh;
    }
   
}

@media screen and (max-width: 400px) {
    .main-bestproduct{
        height: 120vh;
    }
    .bestproduct-button{
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
        bottom: 0.5rem;
        width: 30vw;
        
    }
}

@media screen and (max-width: 360px) {
    .header div{
    flex-direction: column;
    }
    .main-bestproduct{
        height: 140vh;
    }
}

@media screen and (max-width: 330px) {
    .header div{
    flex-direction: column;
    }
    .main-bestproduct{
        height: 140vh;
    }
}